<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress bar</h4>
                <div class="progress m-t-20">
                    <div class="active progress-bar bg-primary progress-bar-striped" 
                        style="height: 5px;"
                        [style.width]="percent1" 
                        role="progressbar">
                    </div>
                    
                </div>

                <div class="progress m-t-20">
                    <div class="active progress-bar bg-info progress-bar-striped" 
                        style="height: 5px;" 
                        [style.width]="percent2" 
                        role="progressbar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-increasing (outputProgress)="progress1 = $event" [progress]="progress1"></app-increasing>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
                <app-increasing (outputProgress)="progress2 = $event" [progress]="progress2"></app-increasing>

            </div>
        </div>
    </div>


</div>