<div class="row">
    <div class="col-6">
        <app-donut-chart
            title="Sales"
            [labels]="['Smartphones', 'Laptops', 'Accesories']"
            [labels-data]="[ [358, 203, 732] ]"
        ></app-donut-chart>
    </div>

    <div class="col-6">
        <app-donut-chart
            title="Top selling phones"
            [labels]="['IPhone 12', 'Xiami F3 Pro', 'Samsung Galazy S21']"
            [labels-data]="[ [158, 100, 100] ]"
        ></app-donut-chart>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-donut-chart
            title="Top selling Laptops"
            [labels]="['Macbook Pro', 'Huawei Matebook X', 'ASUS ROG']"
            [labels-data]="[ [101, 92, 10] ]"
        ></app-donut-chart>
    </div>

    <div class="col-6">
        <app-donut-chart
            title="Top selling Accesories"
            [labels]="['Airpods', 'Smartwatch', 'Huawei Fit']"
            [labels-data]="[ [345, 173, 214] ]"
        ></app-donut-chart>
    </div>
</div>